# Лабораторная работа 1

## Общая информация

Дата выдачи: 26.01.2016

Срок сдачи: 09.02.2016 09:00MSK 

### О задании
Лабораторная работа №1 направлена на работу с моделями NumPy и Pandas путём решения набора задач. Целью задания является редактирование данного ipython notebook-a (в части блоков с кодом на python) таким образом, чтобы были реализованы указанные в задании функции.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить задание на указанных в ответном письме условиях.

Задание выполняется САМОСТОЯТЕЛЬНО. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов. Если вы нашли решение какого-то из заданий в открытом источнике, необходимо прислать ссылку на этот источник (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник). 

### Формат сдачи
Для сдачи задания переименуйте получившийся файл \*.ipynb в соответствии со следующим форматом: *Username_(group)_Lab1.ipynb*, где Username — ваша фамилия на латинице, group — название группы (например, Kozlova_IAD-11_Lab1.ipynb). Далее отправьте этот файл на используемую в Вашей группе почту курса (hse.minor.dm@gmail.com) c темой письма *[ИАД-NN] - Лабораторная работа 1 - Фамилия Имя Отчество*.

### Выполнение задания на виртуальной машине
Если вы решите делать задание на виртуальной машине, для части с Pandas'ом можно не скачивать данные, а загрузить их из папки *data/2008.csv.bz2* (папка data находится в корне). 

Также учтите, что ваш файл с заданием могут видеть все. К тому же недоступность виртуальной машины не является уважительной причиной для продления дедлайна.

## Numpy

Во всех заданиях ниже запрещено использовать циклы.

In [1]:
import numpy as np
import pandas as pd

**1. (0.5 балла)** Реализуйте функцию, принимающую на вход числа N и k и возвращающую np.array длины N, содержащий зацикленную последовательность от 1 до k (включительно). Например:
    
    print(cycle(10, 3))
    > array([1, 2, 3, 1, 2, 3, 1, 2, 3, 1])

In [3]:
def cycle(N, k):
    r = int(np.ceil(float(N)/k))
    a = range(1, k+1) * r
    return np.array(a[:N])

**2. (0.5 балла)** Реализуйте функцию, принимающую на вход np.array размера N и возвращающую матрицу размера N + 1 x N + 1, у которой над главной даигональю стоят элементы массива (остальные элементы должны быть нулевыми). Например:
    
    print(next_diagonal(np.arange(1, 3)))
    > array([[0, 1, 0],
             [0, 0, 2],
             [0, 0, 0]])

In [4]:
def next_diagonal(X):
    return np.diag(X, k=1)

**3. (0.5 балла)** Реализуйте функцию, принимающую на вход матрицу X и два массива i и j одинаковой длины и возвращающую вектор np.array, состоящий из последовательности элементов [X[i[0], j[0]], X[i[1], j[1]], ..., X[i[N-1], j[N-1]]].

In [5]:
def get_elements(X, i, j):
    return X[[i],[j]]

**4. (0.5 балла)** Реализуйте функцию, принимающую на вход матрицу X и возвращающую минимальный нечетный элемент матрицы.

In [6]:
def min_odd(X):
    return X[X % 2 != 0].min()

**5. (1 балл)** Реализуйте функцию, принимающую на вход матрицу и некоторое число и возвращающую ближайший к числу элемент матрицы. Например:

    X = np.arange(0,10)
    v = 3.6
    print(nearest_value(X, v))
    > 4

In [7]:
def nearest_value(X, v):
    return X.flat[np.abs(X-v).argmin()]

## Pandas

Далее вам будет предложено ответить на вопросы по данным об авиарейсах в США за январь-апрель 2008 года.

Загрузить данные можно здесь: http://stat-computing.org/dataexpo/2009/2008.csv.bz2 (обратите внимание, что распаковывать этот файл не обязательно — функция pandas.read_csv умеет читать из архивов автоматически)

Описание датасета: http://stat-computing.org/dataexpo/2009/the-data.html

**0. (0 баллов)** Загрузите данные в pandas.

In [8]:
data=pd.read_csv('2008.csv.bz2')

**1. (0.5 балла)** Какая из причин отмены рейса (CancellationCode) была самой частой (расшифровки кодов можно найти в описании данных)? A на какое максимальное время задерживали полет по этой причине?

In [9]:
reasons = {'A': 'Carrier', 'B': 'Weather', 'C': 'NAS', 'D': 'Security'}
reason_code = data['CancellationCode'].value_counts().index[0]
reasons[reason_code], data[reasons[reason_code] + 'Delay'].max()

('Weather', 1352.0)

**2. (0.5 балла)** Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.

In [10]:
df1 = data['Distance'].groupby(data['TailNum'])
pd.DataFrame([df1.min(), df1.max(), df1.mean()], index=['min', 'max', 'mean']).T

         min   max         mean
TailNum
80009E    56  1139   448.082397
80019E    56  1048   444.955875
80059E    56  1139   477.571120
80129E    56  1139   441.490909
80139E    56  1139   448.020690
80199E    56  1395   462.456710
80209E    56  1139   471.293924
80219E    56  1139   475.417391
80239E    56  1139   478.893715
80249E    56  1194   485.736562
80259E    56  1139   458.866857
80269E    56  1139   475.152449
80279E    56  1139   479.739060
80299E    74  1139   484.782011
80309E    56  1395   431.741153
80319E    56  1087   406.861945
80329E    76  1139   471.671676
80339E    76  1045   458.596958
80349E    56  1139   444.193966
80359E    56  1085   444.413572
80369E    56  1139   462.295355
80399E    56  1139   444.606320
80409E    56  1085   467.827303
80419E    56  1139   434.133018
83909E    56  1139   440.979534
84099E    56  1139   421.327352
84129E    56  1045   421.650291
84169E    56  1139   424.562734
84239E    56  1139   433.706803
84329E    56  1139   435.743250
...      ...   ...          ...
N988DL   116  1352   622.556081
N988HA   110   598   243.848107
N989AT   215  1310   621.216749
N989CA    64  1024   456.157444
N989DL   116  1547   594.463365
N989HA   110   598   245.113694
N990AT   215  1310   640.232489
N990DL   116  1547   604.362725
N991AT   215  1310   639.959681
N991DL   134  1547   605.912117
N991HA   110   598   244.842697
N991cA    64  1024   489.656036
N992AT   215  1310   614.584906
N992DL   116  1547   618.668008
N993AT   215  1243   640.345734
N993DL   116  1638   604.019973
N994AT   215  1310   635.272635
N994DL   116  1589   601.098741
N995AT   215  1310   626.845621
N995DL   116  1547   619.886442
N996AT   215  1310   621.493411
N996DL   116  1547   578.904016
N997AT   215  1310   639.614845
N997DL   116  1589   637.992393
N998AT   215  1310   635.035027
N998DL   134  1547   597.659229
N999CA    70  1011   473.371747
N999DN   116  1282   601.527689
NHZOAL   163  2404  2383.631579
Unknow   390  1463   924.916667

[5373 rows x 3 columns]

**3. (1 балл)** Найдите рейс (FlightNum) с максимальной длиной перелетов. Уникален ли такой рейс?

In [11]:
df1 = data['Distance'].groupby(data['FlightNum'])
fl = df1.max()
fl[1], fl[1] != fl[2]

(4243, False)

**4. (1 балл)** Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?

In [12]:
airports = pd.read_csv('airports.csv')
merged = pd.merge(data[['FlightNum', 'AirTime', 'Origin', 'Dest']], airports[['iata', 'city', 'airport']], left_on='Origin', right_on='iata')
merged = merged.rename(columns={'city': 'OriginCity', 'airport': 'OriginAirport'})
merged.drop('iata', axis=1, inplace=True)

merged = pd.merge(merged, airports[['iata', 'city', 'airport']], left_on='Dest', right_on='iata')
merged = merged.rename(columns={'city': 'DestCity', 'airport': 'DestAirport'})
merged.drop('iata', axis=1, inplace=True)

airport = merged['OriginAirport'].value_counts().index[0]
merged[merged['OriginAirport'] == airport][:1][['OriginAirport', 'OriginCity']]

                           OriginAirport OriginCity
59603  William B Hartsfield-Atlanta Intl    Atlanta

**5. (1 балл)** Найдите для каждого аэропорта среднее время полета (AirTime) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?

In [15]:
df1 = merged['AirTime'].groupby(merged['OriginAirport'])
df1.mean().sort_values(ascending=0)

OriginAirport
Luis Munoz Marin International          203.850843
Rafael Hernandez                        190.857996
Mercedita                               184.336927
Cyril E. King                           168.681929
Henry E. Rohlsen                        168.101176
John F Kennedy Intl                     167.355980
Ted Stevens Anchorage International     156.163749
Seattle-Tacoma Intl                     154.814356
Adak                                    151.423913
Newark Intl                             143.296556
Miami International                     142.526073
Washington Dulles International         135.594889
Philadelphia Intl                       133.680779
Stewart                                 132.768826
Gen Edw L Logan Intl                    132.636955
San Francisco International             132.337412
Fort Lauderdale-Hollywood Int'l         130.374548
Long Island - MacArthur                 129.134457
Los Angeles International               128.859337
Westchester Cty                         128.567018
Greater Rockford                        128.235088
Long Beach (Daugherty )                 127.073577
Orlando International                   127.008347
Southwest Florida International         126.046257
Palm Beach International                125.329374
Portland Intl                           123.196157
McCarran International                  119.734438
Honolulu International                  119.579009
Bradley International                   118.701612
Chicago Midway                          118.226173
                                           ...
Capital City                             37.116345
Bemidji-Beltrami County                  37.000000
Bush                                     36.933814
Abilene Regional                         36.789977
Erie Intl                                36.448766
Waterloo Municipal                       36.373134
Yakutat                                  36.372159
Pocatello Regional                       36.083028
Merle K (Mudhole) Smith                  35.385269
Southwest Georgia Regional               35.379759
Hilo International                       35.096000
Kalamazoo County                         34.846602
Tri-State/Walker-Long                    34.722581
Modesto City-County-Harry Sham           34.025515
Inyokern                                 33.659365
Dubuque Municipal                        31.628093
Tyler Pounds                             30.372715
Waco Regional                            29.875977
Sheppard AFB/Wichita Falls Municipal     29.490040
Lake Charles Regional                    28.534031
MC Clellan-Palomar Airport               25.901675
Columbus Metropolitan                    24.966066
Middle Georgia Regional                  24.866559
Southeast Texas Regional                 22.147860
Muskegon County                          22.128205
Oxnard                                   20.625492
James C. Johnson Petersburg              20.115160
Pueblo Memorial                          20.000000
Wrangell                                 16.741606
Gustavus                                 15.277108
Name: AirTime, dtype: float64

**6. (1.5 балла)** Найдите самое популярное направление и сколько рейсов по нему совершено. Ответом является тройка (Аэропорт отправления, аэропорт прибытия, количество рейсов)

In [18]:
df1 = merged['DestAirport'].groupby(merged['OriginAirport'])
df1.value_counts().sort_values(ascending=0)[:1]

OriginAirport
San Francisco International  Los Angeles International    13788
dtype: int64

**7. (1.5 балла)** Найдите аэропорт, у которого наибольшая доля задержанных (DepDelay > 0) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию filter после groupby).